<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= myname %></h2>
    <h2>List of places i'd like to visit witha rating from 1-10</h2>

    <ul>
      <% places.forEach(function(place){ %>
      <li><%= place.name %> : <%= place.rating %></li>
      <%}); %> 
    </ul>

  </body>
</html>
